name: "STAGING DEPLOY"

on:
    push:
        branches:
            - staging

permissions:
    id-token: write
    contents: read

jobs:
    terraform:
        uses: ./.github/workflows/terraform.yml
        with:
            environment: staging
            aws-assume-role-arn: "arn:aws:iam::033954890483:role/github-actions-eovinicius-pipeline"
            aws-region: us-east-1
            aws-statefile-s3-bucket: "eovinicius-us-east-1-terraform-statefile"
            aws-lock-dynamodb-table: "eovinicius-us-east-1-terraform-lock"
